.blogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 10px; */
}

.text_header {
  font-size: 30px;
  color: rgb(82, 80, 80) !important;
  font-family: monospace;
}


.blogs-img-one img {
  width: 90%;
  height: 500px;
}

.blogs-img-two img{
  width: 90%;
  height: 440px;
}

.blogs-img-three img{
  width: 90%;
  height: 350px;
}

.blogs-text h4{
  color: #f68eae !important;
  font-family: fantasy;
  font-weight: 600;
}

.blogs-text h6{
  color: #404040 !important;
}

