a{
    text-decoration: none;
}
.men{
    display: flex;
    background-color: #8b732b !important;
    height: 30vh;
    width: 50%;
    cursor: pointer;
}

.men div{
    padding: 2em;
    color: #fff;
}

.men img{
    width: 60%;
    height: 30vh;
}

.women{
    display: flex;
    background-color: #eec6ea !important;
    height: 30vh;
    width: 50%;
    cursor: pointer;
}

.women img{
    width: 60%;
    height: 30vh;
}

.women div{
    padding: 2em;
    color: #000000;
}

.women div h2{
    font-size: 23px;
}