.reviews-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.fa-resolving{
   color: rgb(228, 15, 15) !important;
    font-size: 60px;
}

@media only screen and (max-width:688px) {
    .reviews-container{
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media only screen and (min-width:689px) and (max-width: 991px) {
    .reviews-container{
      grid-template-columns: repeat(2, 1fr);
    }
  }

