.explore {
  margin: 50px;
  padding: 10px;
  border: 1px solid rgb(228, 226, 226);
  height: 335px;
  border-radius: 7px;
}

/* .explore:hover { */
  /* z-index: 1; */
  /* box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2); */
  /* transform: scale(1.05); */
/* } */

.description-text {
  font-size: 11px;
  color: rgb(32, 31, 31);
}

.name-text {
  font-size: 20px;
  color: rgb(26, 25, 25);
}

.price-text {
  font-size: 14px;
  color: rgb(17, 17, 17);
}

.butt-color {
  background-color: rgb(165, 219, 221) !important;
  color: rgb(7, 7, 7) !important;
}

.explore_image {
  width: 160px;
}
