.employe-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.employe-btn {
  padding: 0.5em;
  background-color: #fab9d4 !important;
  border: 1px solid #fab9d4 !important;
  color: #000000 !important;
}

.employe-text h1{
  font-size: 40px;
  letter-spacing: 10px;
  color: #ff99b7 !important;
  /* border-bottom: 2px solid #d72050; */
  /* width: 75%; */
}

.employe-text h1 span{
  font-size: 40px;
  color: #d72050 !important;
}

.employe-img img{
  width: 100%;
}

.employe-img h1{
  text-align: center;
  font-size: 35px;
  letter-spacing: 5px;
  color: #737373 !important;
}


/* make it responsive */
@media only screen and (max-width: 688px) {
  .about_section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .about_section {
    grid-template-columns: repeat(2, 1fr);
  }
}
