.header{
    background-color: rgb(144, 236, 201)!important;
    height: 75px;
}    

.header-text{
    color: rgb(82, 79, 79) !important;
}

.header-text:hover{
   background-color: rgb(194, 172, 172) !important;
   color: rgb(228, 50, 50) !important;
   border-radius: 4px;
   height: 35px;

}

.btn-logout{
    background-color: rgb(230, 223, 224) !important;
    border-radius: 500px;
    color: rgb(17, 16, 16) !important;
    
}
.image{
    width: 35%;
    margin-right: -200px;
}

.text{
    color:rgb(255, 255, 255) !important;
    font-size: 20px;
    font-weight: 500;
}

.website-name{
    color: rgb(255, 145, 0)!important;
    font-size: 25px;
}

.fa-pinterest-p{
    color: rgb(228, 15, 15) !important;
    font-size: 60px;
}