.header {
  background-color: #ffffff !important;
  height: 85px;
}

.header-text {
  color: #000000 !important;
}

.header-text:hover {
  background-color: #fffdfd !important;
  color: #e9b384 !important;
}

.btn-logout {
  padding: 0.5em;
  background-color: #ffffff !important;
  border: 1px solid #e6dfe0 !important;
  color: #111010 !important;
  letter-spacing: 3px;
}
.image {
  width: 35%;
  margin-right: -200px;
}

.text {
  color: #030303 !important;
  font-size: 17px;
  font-weight: 500;
}
.logo{
  width: 100px;
}
/* .website-name { */
  /* color: #e792af !important; */
  /* font-size: 25px; */
  /* font-family: fantasy; */
  /* font-weight: 600; */
/* } */
/*  */
/* .fa-pinterest-p { */
  /* color: #e00f66 !important; */
  /* font-size: 50px; */
/* } */

#responsive-navbar-nav {
  color: black;
}

#basic-nav-dropdown {
  color: #000000;
}

@media only screen and (max-width: 688px) {
  #responsive-navbar-nav {
    background-color: rgb(179, 177, 177);
    color: black;
  }
  .header-text {
    color: rgb(0, 0, 0) !important;
  }

  .header-text:hover {
    background-color: #7c5959 !important;
    color: #000000 !important;
    border-radius: 4px;
    height: 35px;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  #responsive-navbar-nav {
    background-color: #7e7c7c;
    color: #000000 !important;
  }
  .header-text {
    color: #000000 !important;
  }

  .header-text:hover {
    background-color: #7c5959 !important;
    color: #000000 !important;
    border-radius: 4px;
    height: 35px;
  }
}
