.card-align {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product-text {
  font-size: 16px;
  color: rgb(233, 45, 45);
  font-weight: 500;
}

.word-color {
  font-size: 30px;
  color: rgb(82, 80, 80) !important;
  font-family: monospace;
  /* border-bottom: 3px solid rgb(224, 15, 102) !important; */
}

.card {
  height: 250px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}

.fa-cuttlefish {
  color: rgb(224, 15, 102) !important;
  font-size: 50px;
}

/* make it responsive */
@media only screen and (max-width: 688px) {
  .card-align {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .card-align {
    grid-template-columns: repeat(2, 1fr);
  }
}
