/* .footer-responsive{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

.icon {
  margin: 5px;
  padding: 5px;
  /* color: #e4e4e4 !important; */
  font-size: 30px;
}

.icon_instagram {
  color: #b81a1a !important;
}

.icon_twitter {
  color: #2f9eca !important;
}

.icon_youtube {
  color: #f70b0b !important;
}

.icon_facebook {
  color: #1575cf !important;
}

.icon:hover {
  color: brown !important;
}
.footer-menu {
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  color: #fdfafa !important;
}
.footer-menu:hover {
  color: #a52a2a !important;
}
.footer-input {
  padding: 8px;
  border: none;
  outline: none;
  background-color: rgb(226, 226, 226) !important;
}
.footer-container {
  background-color: rgb(8, 8, 8) !important;
  padding: 10px;
  color: rgb(252, 243, 243) !important;
}
.footer-phone-icon {
  font-size: 30px;
  color: brown !important;
}

@media only screen and (max-width: 688px) {
  .footer-responsive {
    width: 100%;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .footer-responsive {
    width: 100%;
  }
}
