.footer{
  background-color: #627180 !important;
  padding: 10px;
}

.footer-left span{
  color: white !important;
  font-size: 30px;
  font-family:fantasy;
}


.icon-footer {
  color: #ffffff !important;
  margin: 5px;
  padding: 5px;
  font-size: 24px;
}

.icon-footer:hover{
  color: #fa93b8 !important;
}

.footer-menu {

  list-style: none;
  font-size: 13px;
  cursor: pointer;
  color: #fdfafa !important;
}

.footer-menu:hover {
  color: #fa93b8 !important;
  cursor: pointer;
  border-bottom: 1px solid #fa93b8 ;
}

.footer-right{
  margin-left: -120px;
}

.footer-subscribe input {
  width: 60%;
  padding: 8px;
  border: none;
  outline: none;
  background-color: #e2e2e2 !important;
}

.footer-subscribe button{
  padding: 0.5em;
  font-size: 20px;
  color: #ffffff !important;
  border: 1px solid #ff87af;
  background-color: #ff82ac !important;
  letter-spacing: 5px;
  border-radius: 6px;
}

.footer-icon {
  font-size: 30px;
  color: #ff82ac !important;
}

.footer-icon h4 a{
  color: white !important;
  letter-spacing: 10px;
  text-decoration: none;
}

.footer-icon h5 a{
  color: white !important;
  letter-spacing: 3px;
  text-decoration: none;
}


.sub-footer{
  font-size: 12px;
  color: #ff82ac !important;
}

@media only screen and (max-width: 688px) {
  .footer-responsive {
    width: 100%;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .footer-responsive {
    width: 100%;
  }
}
