.product{
     margin: 50px;
     padding: 10px;
     border: 1px solid rgb(228, 226, 226);
     height: 353px;
     border-radius: 7px;
}

.product:hover{
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.description-text{
    font-size: 11px;
    color: rgb(117, 110, 110);
}

.name-text{
    font-size: 20px;
    color: rgb(97, 97, 97);
}

.price-text{
    font-size: 14px;
    color: rgb(82, 82, 82);
}

.btn-color{
    background-color: rgb(230, 82, 131) !important;
    color: darkgray;
}