.banner{
  background-color: #efeaea !important;
}

.left-bn{
  background-color: #ffffff !important;
  padding: auto;
  margin: 20px;
}
.banner-item{
  text-align: start;
  border-bottom: 1px solid #ececec;
  cursor: pointer;

}

.banner-item:hover{
  background-color: #e9b384 !important;
}

.banner-item img{
  width: 70px;
  height: 70px;
  margin: 10px 10px;
}
.banner-item a{
  margin: 10px;
  text-align: start;
  text-decoration: none;
  color: #232323 !important;
}


.right-bn{
  margin: 20px;
}
.slid{
  width: 100%;
  height: 70vh;
}