/* .slide-img {
  height: 495px;
}

.text-color {
  color: rgb(184, 224, 219);
  font-size: 33px;
}

.card-text {
  justify-content: center;
  text-align: center;
  align-items: center;
} */

.banner_section {
  /* margin: 10px;
  padding: 10px;
   margin-bottom: 90px; */
  /* height: 200px; */
}

.banner_text {
  margin-top: 100px;
  font-size: 35px;
  text-shadow: 3px 3px #1a1919;
}

.banner_image {
  height: 540px;
}

.go_text {
  font-size: 45px;
}
