.not-found img{
    width: 90%;
    height: 400px;
    margin: 15px;
    padding: 15px;
}

.btn-notfound{
    padding: 0.5em;
    background-color: #f98fbd!important;
    border: 1px solid #f98fbd;
    letter-spacing: 5px;
    
}

.btn-align{
    justify-content: center;
    align-items: center;
}

.fa-sad-tear{
    color: #fd91bd !important;
}