.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.text_header {
  font-size: 30px;
  color: rgb(82, 80, 80) !important;
  font-family: monospace;
}

@media only screen and (max-width: 688px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
